.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box-text {
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}